<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseName" value="pma" />
    <add key="PlexLogin" value="" />
    <add key="PlexPassword" value="" />
    <add key="PlexServer" value=""/>
    <add key="TautulliAPIKey" value="" />
    <add key="TautulliPort" value="" />
    <add key="MovieAge" value="730" />
    <add key="IgnoreMoviesLessThanDaysOld" value="365" />
    <add key="TVAge" value="730" />
    <add key="IgnoreTVShowsLessThanDaysOld" value="365" />
    <add key="RefreshDatabase" value="true"/>
    <add key="ReportLocation" value="C:\PlexReports"/>
    <add key="MediaFilePath" value="P:\"/>
    <add key="ArchiveFilePath" value="I:\"/>
  </appSettings>
</configuration>